body {
    background-image: url(./1479595-matrix-binary-code-falling-wallpaper-1920x1080-retina.jpg);
    /* background-position: center; */
}


nav {
    margin-bottom: 3rem;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 35px;
    padding-left: 35px;
}
